 
 .preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgb(255, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: opacity 0.3s linear;
}

.page-content {
  max-width: 768px;
  margin: 0 auto;
}
 
 .u-section-1 {
  min-height: 1178px;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 347px;
  margin: 72px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 411px;
  height: 82px;
  margin: 0 auto;
  padding: 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 66px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  background-image: url("/images/1.jpg");
  background-position: 50% 50%;
  min-height: 854px;
}

.u-section-1 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-1 .u-image-2 {
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,1);
  width: 1084px;
  height: 610px;
  margin: 97px auto 0;
}

.u-section-1 .u-icon-2 {
  width: 172px;
  height: 39px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -277px auto 60px calc(((100% - 340px) / 2) + 6px);
  padding: 0;
}

.u-section-1 .u-shape-1 {
  width: 248px;
  height: 99px;
  margin: -41px auto 8px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 481px;
  }

  .u-section-1 .u-text-1 {
    width: 418px;
    margin-top: 90px;
  }

  .u-section-1 .u-image-1 {
    min-height: 704px;
  }

  .u-section-1 .u-image-2 {
    width: 940px;
    height: 529px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: calc(((100% - 340px) / 2) + 36px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 720px) / 2) + 164px);
    margin-left: calc(((100% - 720px) / 2) + 138px);
  }

  .u-section-1 .u-image-1 {
    min-height: 539px;
  }

  .u-section-1 .u-image-2 {
    width: 720px;
    height: 405px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 716px;
  }

  .u-section-1 .u-text-1 {
    width: 378px;
    margin-top: 66px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-1 {
    margin-top: -6px;
  }

  .u-section-1 .u-image-1 {
    background-size: 130%;
    min-height: 404px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 304px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 471px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    width: 302px;
    --animation-custom_in-translate_x: -200px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-icon-1 {
    width: 326px;
    height: 65px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 86px;
  }

  .u-section-1 .u-image-1 {
    min-height: 196px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 325px;
    height: 183px;
    margin-top: -27px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: -314px;
    margin-bottom: 0;
    margin-left: calc(((100% - 340px) / 2) + 36px);
  }

  .u-section-1 .u-shape-1 {
    width: 76px;
    height: 30px;
    margin-top: 260px;
    margin-left: auto;
    margin-bottom: 17px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 927px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 712px;
  margin: 85px auto 0;
}

.u-section-2 .u-slider-1 {
  width: 758px;
  min-height: 478px;
  height: auto;
  box-shadow: 0px 0px 4px 0px rgba(128,128,128,1);
  margin: 41px auto 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-image-1 {
  background-image: url("/images/CreativeSlide1.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  background-image: url("/images/CreativeSlide2.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  background-image: url("/images/CreativeSlide3.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-2 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

.u-section-2 .u-icon-1 {
  width: 84px;
  height: 84px;
  margin: 118px auto 0;
  padding: 7px;
}

.u-section-2 .u-text-2 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 22px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0 auto 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 267px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 13px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-left: 41px;
    margin-right: 41px;
  }

  .u-section-2 .u-slider-1 {
    width: 606px;
    min-height: 440px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 298px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    width: 191px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-slider-1 {
    min-height: 410px;
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
  }

  .u-section-2 .u-text-3 {
    margin-bottom: 0;
    margin-left: 28px;
    margin-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 38px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 191px;
    margin-top: 18px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-icon-1 {
    width: 57px;
    height: 57px;
    margin-top: 115px;
    padding: 4px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 13px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-2 .u-text-3 {
    width: 207px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}