 .u-section-1 {
  background-image: url("images/bf1da6d66a57e0fbce426e7b02149a5bec4f808bd0aa509643f5f9e9b9afffd66467542016e4da71076e95b5c757240cb0fc70ade104d6ab47ed77_1280.jpg");
  background-position: 50% 50%;
  min-height: 938px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 0px 23px rgba(0,0,0,1);
  width: 832px;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 214px auto 0;
}

.u-section-1 .u-icon-1 {
  width: 556px;
  height: 150px;
  color: rgb(252, 252, 252) !important;
  margin: 236px auto 60px;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 984px;
  }

  .u-section-1 .u-icon-1 {
    margin-top: 168px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 937px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 135px;
    margin-left: 78px;
    margin-right: 78px;
  }

  .u-section-1 .u-icon-1 {
    width: 580px;
    height: 157px;
    margin-top: 157px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 703px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 760px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 69px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-icon-1 {
    width: 339px;
    height: 91px;
    margin-top: 79px;
  }
} .u-section-2 {
  background-image: none;
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 208px;
}

.u-section-2 .u-image-1 {
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.7);
}

.u-section-2 .u-text-1 {
  font-size: 0.75rem;
  margin: 20px 196px 157px 712px;
}

.u-section-2 .u-text-2 {
  margin: 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  box-shadow: 0px 0px 2px 0px rgba(128,128,128,0.5);
  margin: 81px auto 0 428px;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  box-shadow: 0px 0px 2px 0px rgba(128,128,128,0.5);
  font-weight: normal;
  text-transform: none;
  font-size: 1rem;
  letter-spacing: normal;
  margin: -47px auto 60px 598px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 138px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin: 16px 125px 172px 583px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 61px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 1px;
    margin-left: 307px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -46px;
    margin-bottom: 29px;
    margin-left: 498px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 521px;
  }

  .u-section-2 .u-image-1 {
    width: 225px;
    height: 272px;
    margin: 80px auto 0;
  }

  .u-section-2 .u-text-1 {
    margin-left: 473px;
    margin-right: 15px;
  }

  .u-section-2 .u-text-2 {
    margin-top: -483px;
    position: relative;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 563px;
    margin-left: 204px;
  }

  .u-section-2 .u-btn-2 {
    margin-bottom: 40px;
    margin-left: 382px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    height: 482px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 308px;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: -1423px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 52px;
    margin-left: 203px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: auto;
    margin-bottom: 29px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 630px;
  }

  .u-section-2 .u-image-1 {
    height: 276px;
    object-position: 50% 48.23%;
    width: 253px;
    margin-top: 60px;
  }

  .u-section-2 .u-text-1 {
    width: 253px;
    margin: 10px auto 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-2 .u-btn-1 {
    --animation-custom_in-translate_x: 300px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
    margin-top: 62px;
    margin-left: auto;
  }

  .u-section-2 .u-btn-2 {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 1px;
    border-style: solid;
    --animation-custom_in-translate_x: -400px;
    --animation-custom_in-translate_y: 0px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 180deg;
    --animation-custom_in-scale: 1;
    margin-top: 22px;
    margin-bottom: 60px;
  }
} .u-section-3 {
  background-image: url("images/default-image.jpg");
  background-position: 50% 50%;
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 360px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 179px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 965px;
  margin: 1px auto 25px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 154px;
}

.u-section-4 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 30px;
}

.u-section-4 .u-image-1 {
  width: 65px;
  height: 53px;
  margin: 10px auto 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 21px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 187px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
    margin-bottom: 1px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 186px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 38px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 27px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 156px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
    margin-top: 0;
    margin-bottom: 29px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 127px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 10px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 6px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 16px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 3px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 74px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 110px;
    margin-right: 110px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 182px;
    margin-right: 182px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 168px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 46px;
    margin-left: auto;
    margin-bottom: 11px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 111px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    width: 48px;
    height: 39px;
    margin-top: -2px;
  }

  .u-section-4 .u-text-1 {
    width: 222px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-4 .u-text-2 {
    margin-top: 0;
    margin-left: 28px;
    margin-right: 28px;
  }
}font-family: 'Felipa', cursive;