 


 .u-section-1 {
  background-image: url("/images/b8f0e7c0adcc88a6d8253c62a8caa14a4f0ebf5e35e037493fd446de15ea7a5f1ee124e23eba198460dffc3b50df075c91a8d40a546dee46aa9775_1280.jpg");
  background-position: 50% 50%;
  min-height: 644px;
}

.u-section-1 .u-group-1 {
  width: 856px;
  min-height: 668px;
  height: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 0 2px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 0px 4px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  font-size: 1.5rem;
  text-decoration: none !important;
  font-weight: 400;
  margin: 66px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 2.25rem;
  letter-spacing: 0px;
  text-decoration: none !important;
  margin: 12px 0 0;
}

.u-section-1 .u-text-3 {
  transition-duration: 0.5s;
  animation-timing-function: ease-in-out;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-size: 1.25rem;
  font-weight: 400;
  margin: 52px 30px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  animation-timing-function: ease-in-out;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Lobster, display;
  font-weight: 700;
  margin: 0 30px;
}

.u-section-1 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-size: 1.25rem;
  font-family: Lobster, display;
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  animation-timing-function: ease-in-out;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Lobster, display;
  font-weight: 700;
  margin: 38px 30px 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  animation-timing-function: ease-in-out;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Lobster, display;
  font-weight: normal;
  margin: 0 30px;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  animation-timing-function: ease-in-out;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Lobster, display;
  font-weight: 400;
  margin: 0 30px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  animation-timing-function: ease-in-out;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Lobster, display;
  font-weight: normal;
  margin: 0 30px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  animation-timing-function: ease-in-out;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Lobster, display;
  font-weight: 700;
  margin: 0 30px;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  animation-timing-function: ease-in-out;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Lobster, display;
  font-weight: 400;
  margin: 0 30px;
}

.u-section-1 .u-text-12 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-size: 1.25rem;
  font-family: Lobster, display;
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-image-1 {
  width: 113px;
  height: 15px;
  margin: -643px auto 0;
}

.u-section-1 .u-image-2 {
  width: 268px;
  height: 143px;
  margin: -170px auto 655px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 746px;
  }

  .u-section-1 .u-group-1 {
    min-height: 695px;
    margin-top: 17px;
    height: auto;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 55px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 17px;
  }

  .u-section-1 .u-text-3 {
    width: 272px;
    margin-top: 87px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-11 {
    font-weight: 700;
  }

  .u-section-1 .u-image-1 {
    margin-top: 19px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -55px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 861px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 802px;
    margin-top: 9px;
    margin-left: calc(((100% - 720px) / 2));
    margin-bottom: 50px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 18px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 78px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-top: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 112px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    margin-top: -440px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -171px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 721px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 586px;
    margin-top: 19px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 176px;
  }

  .u-section-1 .u-text-2 {
    margin-top: 26px;
  }

  .u-section-1 .u-text-3 {
    width: 342px;
    margin-top: 67px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -471px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 687px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 671px;
    margin-top: 12px;
    margin-left: auto;
    margin-bottom: 0;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 2px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 52px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.75rem;
    margin-top: 12px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 114px;
    margin-left: 34px;
    margin-right: 34px;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    transition-duration: 0.5s;
    animation-timing-function: ease-in-out;
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-7 {
    width: auto;
    margin-top: 38px;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    font-family: Oswald, sans-serif;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    font-family: Lato, sans-serif;
    font-weight: 400;
  }

  .u-section-1 .u-text-10 {
    width: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
    font-family: Lato, sans-serif;
    font-weight: 400;
  }

  .u-section-1 .u-text-12 {
    transition-duration: 0.5s;
    animation-timing-function: ease-in-out;
    width: auto;
    font-family: Oswald, sans-serif;
  }

  .u-section-1 .u-image-1 {
    margin-top: -512px;
  }

  .u-section-1 .u-image-2 {
    width: 225px;
    height: 121px;
    margin-top: -148px;
    margin-bottom: 60px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before,
.u-section-1 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-6,
.u-section-1 .u-text-6:before,
.u-section-1 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-8,
.u-section-1 .u-text-8:before,
.u-section-1 .u-text-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-10,
.u-section-1 .u-text-10:before,
.u-section-1 .u-text-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-11,
.u-section-1 .u-text-11:before,
.u-section-1 .u-text-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-11 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-11 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-7,
.u-section-1 .u-text-7:before,
.u-section-1 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-9,
.u-section-1 .u-text-9:before,
.u-section-1 .u-text-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-12,
.u-section-1 .u-text-12:before,
.u-section-1 .u-text-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-12 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-12 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-5,
.u-section-1 .u-text-5:before,
.u-section-1 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 157px;
}

.u-section-2 .u-shape-1 {
  width: 130px;
  height: 49px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 54px auto;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 110px;
  }

  .u-section-2 .u-shape-1 {
    width: 102px;
    height: 38px;
    margin-top: 36px;
    margin-bottom: 36px;
  }
} .u-section-3 {
  min-height: 150px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 0 0 60px;
}

.u-section-3 .u-image-1 {
  background-image: url("/images/16522-skripach-muzykalnyj_instrument-violonchel-strunnyj_instrument-skripka_semya-2047x1284.jpg");
  background-position: 50% 50%;
  min-height: 288px;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 238px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 237px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 181px;
  }

  .u-section-3 .u-image-1 {
    min-height: 182px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1109px;
  }

  .u-section-3 .u-image-1 {
    min-height: 273px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 203px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-1 {
    min-height: 203px;
  }
} .u-section-4 {
  background-image: url("/images/studio1.jpg");
  background-position: 50% 50%;
  min-height: 444px;
}

.u-section-4 .u-group-1 {
  min-height: 175px;
  width: 713px;
  height: auto;
  margin: 269px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-4 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(0,0,0,1);
  font-weight: normal;
  font-size: 1.875rem;
  width: 548px;
  margin: 92px auto 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 441px;
  }

  .u-section-4 .u-group-1 {
    min-height: 157px;
    margin-top: 60px;
    height: auto;
  }

  .u-section-4 .u-text-1 {
    width: 392px;
    margin-top: 49px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 311px;
  }

  .u-section-4 .u-group-1 {
    min-height: 126px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 203px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-text-1 {
    margin-top: 49px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 365px;
  }

  .u-section-4 .u-group-1 {
    min-height: 82px;
    width: 340px;
    margin-top: 271px;
    margin-left: auto;
    margin-bottom: 12px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 610px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 500px;
}

.u-section-5 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-5 .u-image-1 {
  height: 279px;
  width: 279px;
  margin: 148px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 608px;
}

.u-section-5 .u-container-layout-2 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 126px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 700;
  margin: 38px 6px 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  animation-timing-function: ease-in-out;
  background-image: none;
  border-radius: 24px;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 78px auto 0;
  padding: 9px 35px 10px 34px;
}

.u-section-5 .u-text-3 {
  font-size: 1.5rem;
  width: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: -960px 21px 0;
}

@media (max-width: 1199px) {
   .u-section-5 {
    min-height: 627px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 634px;
  }

  .u-section-5 .u-image-1 {
    width: 296px;
    height: 322px;
    margin-top: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 634px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 94px;
    margin-left: 16px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 50px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 68px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-cell-1 {
    min-height: 708px;
  }

  .u-section-5 .u-image-1 {
    width: 381px;
    height: 387px;
    margin-top: 218px;
    margin-left: -26px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 708px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
    margin-left: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 141px;
    margin-left: 13px;
    margin-right: 13px;
    position: relative;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 77px;
    margin-right: 67px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -593px;
    margin-right: 201px;
    margin-left: -159px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 645px;
  }

  .u-section-5 .u-sheet-1 {
    min-height: 1163px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 481px;
  }

  .u-section-5 .u-image-1 {
    width: 404px;
    margin-top: 156px;
    margin-left: 59px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 645px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 9px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 18px;
    margin-left: 0;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 66px;
    margin-right: 84px;
  }

  .u-section-5 .u-text-3 {
    width: 258px;
    margin-top: -972px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1101px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 500px;
  }

  .u-section-5 .u-image-1 {
    height: 279px;
    width: 279px;
    margin-top: 148px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 608px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-top: 38px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 38px;
    margin-right: 30px;
  }

  .u-section-5 .u-text-3 {
    margin-top: -982px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 195px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  font-size: 1.25rem;
  width: 673px;
  margin: 40px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  width: 199px;
  margin: 25px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 61px;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 217px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 93px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 16px;
    margin-bottom: 51px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 39px;
  }

  .u-section-6 .u-text-2 {
    margin-bottom: 16px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 159px;
}

.u-section-7 .u-audio-1 {
  background-image: none;
  font-family: "La Belle Aurore";
  font-weight: 700;
  height: 119px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1rem;
  letter-spacing: 0px;
  width: 722px;
  margin: 0 auto 40px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-audio-1 {
    width: 787px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-audio-1 {
    width: 636px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-audio-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-audio-1 {
    width: 320px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 165px;
}

.u-section-8 .u-icon-1 {
  width: 215px;
  height: 77px;
  margin: 23px auto 0 401px;
  padding: 0;
}

.u-section-8 .u-icon-2 {
  width: 79px;
  height: 119px;
  margin: -97px auto 2px 661px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-icon-1 {
    margin-left: 290px;
  }

  .u-section-8 .u-icon-2 {
    margin-left: 571px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-icon-1 {
    margin-top: 24px;
    margin-left: 202px;
  }

  .u-section-8 .u-icon-2 {
    margin-bottom: 3px;
    margin-left: 439px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-icon-1 {
    margin-left: 150px;
  }

  .u-section-8 .u-icon-2 {
    margin-top: 20px;
    margin-left: 312px;
    margin-bottom: 2px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 92px;
  }

  .u-section-8 .u-icon-1 {
    width: 122px;
    height: 44px;
    margin-top: 12px;
    margin-left: 74px;
  }

  .u-section-8 .u-icon-2 {
    width: 45px;
    height: 67px;
    margin-top: -56px;
    margin-bottom: 0;
    margin-left: 220px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 569px;
}

.u-section-9 .u-slider-1 {
  width: 758px;
  min-height: 478px;
  height: auto;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin: 46px auto;
}

.u-section-9 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-9 .u-image-1 {
  background-image: url("/images/PhotoSlidebarMusic1.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-1 {
  padding: 0;
}

.u-section-9 .u-image-2 {
  background-image: url("/images/PhotoSlidebarMusic2.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-2 {
  padding: 0;
}

.u-section-9 .u-image-3 {
  background-image: url("/images/PhotoSlidebarMusic3.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-9 .u-image-4 {
  background-image: url("/images/PhotoSlidebarMusic4.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-4 {
  padding: 0;
}

.u-section-9 .u-image-5 {
  background-image: url("/images/PhotoSlidebarMusic5.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-9 .u-image-6 {
  background-image: url("/images/PhotoSlidebarMusic6.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-6 {
  padding: 0;
}

.u-section-9 .u-image-7 {
  background-image: url("/images/PhotoSlidebarMusic7.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-7 {
  padding: 0;
}

.u-section-9 .u-image-8 {
  background-image: url("/images/PhotoSlidebarMusic8.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-8 {
  padding: 30px 50px;
}

.u-section-9 .u-image-9 {
  background-image: url("/images/PhotoSlidebarMusic9.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-9 {
  padding: 0;
}

.u-section-9 .u-image-10 {
  background-image: url("/images/PhotoSlidebarMusic10.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-container-layout-10 {
  padding: 0;
}

.u-section-9 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-9 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 570px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-slider-1 {
    width: 720px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-9 .u-container-layout-8 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-slider-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 272px;
  }

  .u-section-9 .u-slider-1 {
    min-height: 208px;
    width: 341px;
    margin: 32px -1px;
  }

  .u-section-9 .u-container-layout-5 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-9 .u-container-layout-8 {
    padding-left: 50px;
    padding-right: 50px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 507px;
}

.u-section-10 .u-layout-wrap-1 {
  width: 696px;
  margin: 0 auto 35px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 472px;
}

.u-section-10 .u-container-layout-1 {
  padding: 28px 0;
}

.u-section-10 .u-text-1 {
  background-image: none;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.5rem;
  width: 340px;
  margin: 0 auto;
}

.u-section-10 .u-text-2 {
  font-size: 0.875rem;
  font-weight: 700;
  font-style: normal;
  margin: 35px 0 0;
}

.u-section-10 .u-btn-1 {
  font-size: 0.875rem;
  animation-timing-function: ease-in-out;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  border-radius: 24px;
  font-weight: 700;
  --animation-custom_in-rotate: 21deg;
  --animation-custom_in-scale: 0.3;
  margin: 60px auto 0;
  padding: 9px 30px 10px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-10 .u-text-1 {
    position: relative;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 70px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 29px;
    margin-bottom: 60px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 445px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.875rem;
    width: 442px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 73px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 0;
    margin-bottom: 40px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 498px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 716px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 15px;
    margin-bottom: 43px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 658px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 0;
  }

  .u-section-10 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-text-2 {
    width: auto;
    margin-top: 45px;
  }

  .u-section-10 .u-btn-1 {
    margin-top: 52px;
    margin-left: 102px;
  }
} .u-section-11 {
  background-image: none;
  background-position: 50% 50%;
}

.u-section-11 .u-sheet-1 {
  min-height: 40px;
}

.u-section-11 .u-group-1 {
  background-image: none;
  min-height: 600px;
  box-shadow: 0px 0px 20px 0 rgba(0,0,0,0.4);
  width: 291px;
  margin: 72px auto 0;
}

.u-section-11 .u-container-layout-1 {
  padding: 13px 30px;
}

.u-section-11 .u-shape-1 {
  height: 26px;
  background-image: none;
  width: 100%;
  margin: 39px 0 0;
}

.u-section-11 .u-text-1 {
  text-transform: uppercase;
  text-decoration: none solid rgb(255, 0, 0);
  font-weight: 700;
  width: auto;
  margin: -26px 0 0;
}

.u-section-11 .u-btn-1 {
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-timing-function: ease-in-out;
  background-image: none;
  border-radius: 24px;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 392px auto 0;
  padding: 9px 31px 10px 30px;
}

.u-section-11 .u-shape-2 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin-top: 3px;
  margin-bottom: 0;
}

.u-section-11 .u-shape-3 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-11 .u-shape-4 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-11 .u-text-2 {
  font-size: 0.875rem;
  line-height: 1.59;
  font-style: italic;
  width: 175px;
  margin: -437px auto 0;
}

.u-section-11 .u-image-1 {
  width: 79px;
  height: 79px;
  margin: 62px auto 0;
}

.u-section-11 .u-text-3 {
  position: relative;
  margin: -520px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 28px;
  }

  .u-section-11 .u-text-3 {
    margin-top: -1px;
    margin-bottom: 29px;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 1007px;
  }

  .u-section-11 .u-group-1 {
    width: 306px;
    min-height: 813px;
    margin-top: 125px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-11 .u-shape-1 {
    height: 37px;
    margin-top: 51px;
  }

  .u-section-11 .u-text-1 {
    margin-top: -37px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-11 .u-btn-1 {
    margin-top: 527px;
  }

  .u-section-11 .u-shape-2 {
    margin-top: -410px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-11 .u-shape-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-11 .u-shape-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-11 .u-text-2 {
    width: 232px;
    margin-top: -414px;
  }

  .u-section-11 .u-image-1 {
    margin-top: -318px;
  }

  .u-section-11 .u-text-3 {
    margin-top: 526px;
    margin-bottom: 42px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 177px;
  }

  .u-section-11 .u-group-1 {
    margin-left: 270px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-11 .u-text-2 {
    margin-left: 270px;
    margin-right: 270px;
  }

  .u-section-11 .u-image-1 {
    margin-left: 270px;
  }

  .u-section-11 .u-text-3 {
    margin-top: 2565px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 833px;
  }

  .u-section-11 .u-group-1 {
    min-height: 600px;
    width: 291px;
    margin-top: 109px;
    margin-left: auto;
  }

  .u-section-11 .u-shape-1 {
    height: 26px;
    margin-top: 39px;
  }

  .u-section-11 .u-text-1 {
    margin-top: -26px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-btn-1 {
    margin-top: 383px;
  }

  .u-section-11 .u-shape-2 {
    margin-top: 12px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-shape-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-shape-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-11 .u-text-2 {
    width: 175px;
    margin-top: -459px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-11 .u-image-1 {
    margin-top: 59px;
    margin-left: auto;
  }

  .u-section-11 .u-text-3 {
    margin-top: 250px;
  }
} .u-section-12 {
  background-image: none;
  min-height: 611px;
}

.u-section-12 .u-group-1 {
  width: 570px;
  min-height: 525px;
  height: auto;
  margin: 0 auto;
}

.u-section-12 .u-container-layout-1 {
  padding: 0;
}

.u-section-12 .u-text-1 {
  font-size: 1.875rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 441px;
  margin: 32px auto 0;
}

.u-section-12 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  width: 261px;
  margin: 37px auto 0;
}

.u-section-12 .u-text-3 {
  font-size: 0.875rem;
  font-style: italic;
  font-weight: 700;
  width: 228px;
  margin: 30px auto 0;
}

.u-section-12 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-btn-2 {
  font-size: 0.875rem;
  animation-timing-function: ease-in-out;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 24px;
  margin: 56px auto 0;
  padding: 9px 43px 10px 42px;
}

.u-section-12 .u-icon-1 {
  width: 47px;
  height: 47px;
  margin: -7px auto 46px;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-12 {
    min-height: 718px;
  }

  .u-section-12 .u-group-1 {
    width: 368px;
    min-height: 534px;
    margin-top: 98px;
    height: auto;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-right: -32px;
    margin-left: -41px;
  }

  .u-section-12 .u-text-2 {
    width: auto;
    margin-top: 98px;
    margin-right: 74px;
    margin-left: 65px;
  }

  .u-section-12 .u-text-3 {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-12 .u-btn-2 {
    margin-top: 65px;
  }

  .u-section-12 .u-icon-1 {
    margin-top: -2px;
    margin-bottom: 41px;
  }
}

@media (max-width: 991px) {
   .u-section-12 {
    min-height: 708px;
  }

  .u-section-12 .u-group-1 {
    width: 671px;
    min-height: 564px;
    margin-top: 58px;
  }

  .u-section-12 .u-text-1 {
    width: 441px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }

  .u-section-12 .u-text-2 {
    margin-top: 24px;
    margin-right: 44px;
    margin-left: 58px;
    position: relative;
  }

  .u-section-12 .u-text-3 {
    width: 311px;
    margin-top: 79px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-12 .u-btn-2 {
    margin-top: 96px;
  }

  .u-section-12 .u-icon-1 {
    margin-top: -19px;
    margin-bottom: 58px;
  }
}

@media (max-width: 767px) {
   .u-section-12 {
    min-height: 711px;
  }

  .u-section-12 .u-group-1 {
    width: 540px;
    min-height: 623px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 69px;
    margin-left: 9px;
  }

  .u-section-12 .u-text-2 {
    margin-top: 29px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-12 .u-text-3 {
    margin-top: 72px;
  }

  .u-section-12 .u-btn-2 {
    margin-top: 49px;
  }

  .u-section-12 .u-icon-1 {
    margin-top: -75px;
  }
}

@media (max-width: 575px) {
   .u-section-12 {
    min-height: 562px;
  }

  .u-section-12 .u-group-1 {
    width: 340px;
    min-height: 474px;
    margin-top: 2px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-12 .u-text-2 {
    width: 261px;
    margin-top: 37px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-12 .u-text-3 {
    width: 228px;
    margin-top: 30px;
  }

  .u-section-12 .u-btn-2 {
    margin-top: 56px;
  }

  .u-section-12 .u-icon-1 {
    margin-top: 0;
    margin-bottom: 39px;
  }
} .u-section-13 {
  background-image: url("/images/bergeoptimize.jpg");
  background-position: 50% 50%;
}

.u-section-13 .u-sheet-1 {
  min-height: 225px;
}

.u-section-13 .u-text-1 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 157px auto 0;
}

.u-section-13 .u-text-2 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0 auto 30px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 186px;
  }

  .u-section-13 .u-text-1 {
    width: auto;
    margin-top: 118px;
    margin-left: 376px;
  }

  .u-section-13 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 143px;
  }

  .u-section-13 .u-text-1 {
    margin-top: 76px;
    margin-left: 288px;
  }

  .u-section-13 .u-text-2 {
    margin-bottom: 29px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-13 .u-text-1 {
    margin-top: -499px;
    margin-left: 270px;
    margin-right: 270px;
  }

  .u-section-13 .u-text-2 {
    margin-left: 270px;
    margin-right: 270px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-13 .u-text-1 {
    margin-top: 126px;
    margin-right: 77px;
    margin-left: 75px;
  }

  .u-section-13 .u-text-2 {
    width: 235px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}