.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: opacity 0.3s linear;
}

.page-content {
  max-width: 768px;
  margin: 0 auto;
}
 
 
 .u-section-1 {
  background-image: url("images/1677165938_bogatyr-club-p-biryuzovie-oboi-na-rabochii-stol-fon-vkont-69.jpg");
  background-position: 50% 50%;
  min-height: 762px;
}

.u-section-1 .u-group-1 {
  width: 856px;
  height: auto;
  min-height: 600px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 2px 0;
}

.u-section-1 .u-shape-1 {
  background-image: none;
  margin-top: 598px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 0px 4px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  font-size: 1.5rem;
  text-decoration: none !important;
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 0px 0px 4px rgba(128,128,128,1);
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  font-size: 1.875rem;
  font-weight: normal;
  text-decoration: none !important;
  margin: 10px 0 0;
}

.u-section-1 .u-text-3 {
  transition-duration: 0.5s;
  animation-timing-function: ease-in-out;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-size: 1.25rem;
  font-weight: 400;
  margin: 135px 30px 0;
}

.u-section-1 .u-text-4 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  animation-timing-function: ease-in-out;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Lobster, display;
  font-weight: 700;
  margin: 0 30px;
}

.u-section-1 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-size: 1.25rem;
  font-family: Lobster, display;
  font-weight: 400;
  margin: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  animation-timing-function: ease-in-out;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Lobster, display;
  font-weight: 700;
  margin: 38px 30px 0;
}

.u-section-1 .u-text-7 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  animation-timing-function: ease-in-out;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Lobster, display;
  font-weight: normal;
  margin: 0 30px;
}

.u-section-1 .u-text-8 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  animation-timing-function: ease-in-out;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Lobster, display;
  font-weight: 400;
  margin: 0 30px;
}

.u-section-1 .u-text-9 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  animation-timing-function: ease-in-out;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Lobster, display;
  font-weight: 400;
  margin: 0 30px;
}

.u-section-1 .u-text-10 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  animation-timing-function: ease-in-out;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Lobster, display;
  font-weight: 700;
  margin: 0 30px;
}

.u-section-1 .u-text-11 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  animation-timing-function: ease-in-out;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-family: Lobster, display;
  font-weight: 400;
  margin: 0 30px;
}

.u-section-1 .u-text-12 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-size: 1.25rem;
  font-family: Lobster, display;
  font-weight: 400;
  margin: 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 746px;
  }

  .u-section-1 .u-group-1 {
    min-height: 644px;
    margin-top: 51px;
    margin-bottom: 51px;
    height: auto;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 602px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 23px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-1 .u-text-3 {
    width: 272px;
    margin-top: 144px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-4 {
    width: auto;
  }

  .u-section-1 .u-text-5 {
    width: auto;
  }

  .u-section-1 .u-text-6 {
    width: auto;
  }

  .u-section-1 .u-text-7 {
    width: auto;
  }

  .u-section-1 .u-text-8 {
    width: auto;
  }

  .u-section-1 .u-text-9 {
    width: auto;
  }

  .u-section-1 .u-text-10 {
    width: auto;
  }

  .u-section-1 .u-text-11 {
    width: auto;
  }

  .u-section-1 .u-text-12 {
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 797px;
  }

  .u-section-1 .u-group-1 {
    width: 720px;
    min-height: 659px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 583px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 182px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 764px;
  }

  .u-section-1 .u-group-1 {
    width: 540px;
    min-height: 664px;
    margin-top: 37px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 2px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 550px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 40px;
  }

  .u-section-1 .u-text-3 {
    width: 342px;
    margin-top: 125px;
    font-weight: normal;
  }

  .u-section-1 .u-text-5 {
    font-weight: normal;
  }

  .u-section-1 .u-text-8 {
    font-weight: normal;
  }

  .u-section-1 .u-text-9 {
    font-weight: normal;
  }

  .u-section-1 .u-text-11 {
    font-weight: normal;
  }

  .u-section-1 .u-text-12 {
    font-weight: normal;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 649px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
    min-height: 576px;
    margin-bottom: 37px;
  }

  .u-section-1 .u-shape-1 {
    height: 30px;
    width: 179px;
    margin-top: 13px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    margin-top: -33px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    text-decoration: none;
    margin-top: 16px;
  }

  .u-section-1 .u-text-3 {
    width: 272px;
    font-weight: 400;
    margin-top: 81px;
  }

  .u-section-1 .u-text-5 {
    transition-duration: 0.5s;
    animation-timing-function: ease-in-out;
    font-weight: 400;
  }

  .u-section-1 .u-text-6 {
    margin-top: 0;
  }

  .u-section-1 .u-text-7 {
    margin-top: 38px;
  }

  .u-section-1 .u-text-8 {
    font-family: Oswald, sans-serif;
    font-weight: 400;
  }

  .u-section-1 .u-text-9 {
    font-family: Lato, sans-serif;
    font-weight: 400;
  }

  .u-section-1 .u-text-11 {
    font-family: Lato, sans-serif;
    font-weight: 400;
  }

  .u-section-1 .u-text-12 {
    transition-duration: 0.5s;
    animation-timing-function: ease-in-out;
    font-family: Oswald, sans-serif;
    font-weight: 400;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-3,
.u-section-1 .u-text-3:before,
.u-section-1 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-3 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-4,
.u-section-1 .u-text-4:before,
.u-section-1 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-6,
.u-section-1 .u-text-6:before,
.u-section-1 .u-text-6 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-6 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-8,
.u-section-1 .u-text-8:before,
.u-section-1 .u-text-8 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-8 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-10,
.u-section-1 .u-text-10:before,
.u-section-1 .u-text-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-11,
.u-section-1 .u-text-11:before,
.u-section-1 .u-text-11 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-11 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-11 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-7,
.u-section-1 .u-text-7:before,
.u-section-1 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-9,
.u-section-1 .u-text-9:before,
.u-section-1 .u-text-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-9 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-12,
.u-section-1 .u-text-12:before,
.u-section-1 .u-text-12 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-12 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-12 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-section-1 .u-text-5,
.u-section-1 .u-text-5:before,
.u-section-1 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
}

.u-container-layout.hover .u-section-1 .u-text-5 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
  opacity: 1 !important;
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 157px;
}

.u-section-2 .u-shape-1 {
  width: 103px;
  height: 39px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 59px auto;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 109px;
  }

  .u-section-2 .u-shape-1 {
    width: 80px;
    height: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
} .u-section-3 {
  background-image: url("images/studio1.jpg");
  background-position: 50% 50%;
  min-height: 444px;
}

.u-section-3 .u-group-1 {
  min-height: 175px;
  width: 713px;
  height: auto;
  margin: 269px auto 0;
}

.u-section-3 .u-container-layout-1 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(0,0,0,1);
  font-weight: normal;
  font-size: 1.875rem;
  width: 548px;
  margin: 92px auto 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 441px;
  }

  .u-section-3 .u-group-1 {
    min-height: 157px;
    margin-top: 60px;
    height: auto;
  }

  .u-section-3 .u-text-1 {
    width: 392px;
    margin-top: 49px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 311px;
  }

  .u-section-3 .u-group-1 {
    min-height: 126px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    margin-top: 40px;
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 203px;
  }

  .u-section-3 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-3 .u-text-1 {
    margin-top: 49px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 365px;
  }

  .u-section-3 .u-group-1 {
    min-height: 82px;
    width: 340px;
    margin-top: 271px;
    margin-left: auto;
    margin-bottom: 12px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    font-weight: 700;
    font-size: 1rem;
    margin-top: 12px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 610px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 643px;
}

.u-section-4 .u-container-layout-1 {
  padding-top: 0;
}

.u-section-4 .u-image-1 {
  height: 279px;
  width: 279px;
  margin: 222px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 643px;
}

.u-section-4 .u-container-layout-2 {
  padding-bottom: 0;
  padding-top: 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 100px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 64px 15px 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-btn-2 {
  text-transform: uppercase;
  font-size: 0.875rem;
  animation-timing-function: ease-in-out;
  background-image: none;
  border-radius: 24px;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 53px auto 0;
  padding: 9px 35px 10px 34px;
}

.u-section-4 .u-text-3 {
  font-size: 1.5rem;
  width: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-weight: 700;
  margin: -960px 21px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 739px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 634px;
  }

  .u-section-4 .u-image-1 {
    width: 296px;
    height: 322px;
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 738px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 136px;
    margin-left: 16px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 70px;
    margin-right: 8px;
    margin-left: 24px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 70px;
    margin-right: 56px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 627px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 811px;
  }

  .u-section-4 .u-image-1 {
    width: 284px;
    height: 258px;
    margin-top: 250px;
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 811px;
  }

  .u-section-4 .u-text-1 {
    position: relative;
    margin-left: 13px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 148px;
    margin-left: 27px;
    margin-right: 27px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 63px;
    margin-right: 63px;
  }

  .u-section-4 .u-text-3 {
    margin-top: -651px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1320px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-bottom: 19px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 404px;
  }

  .u-section-4 .u-image-1 {
    width: 313px;
    height: 200px;
    margin-top: 154px;
    margin-right: auto;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 541px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 9px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 62px;
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 66px;
    margin-right: auto;
    margin-left: 354px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
    width: 366px;
    margin-top: -822px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 800px;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 1018px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 369px;
  }

  .u-section-4 .u-image-1 {
    height: 205px;
    width: 205px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 632px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    font-weight: 700;
    margin-top: 70px;
    margin-left: 26px;
    margin-right: 26px;
  }

  .u-section-4 .u-btn-2 {
    margin-top: 43px;
    margin-right: 25px;
    margin-left: 154px;
    padding-right: 30px;
    padding-bottom: 9px;
    padding-left: 29px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
    width: 340px;
    margin-top: -880px;
    margin-bottom: 854px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 193px;
}

.u-section-5 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  width: 673px;
  margin: 60px auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 178px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 194px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 212px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.125rem;
    margin-top: 56px;
    margin-bottom: 56px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 209px;
}

.u-section-6 .u-audio-1 {
  background-image: none;
  font-family: "La Belle Aurore";
  font-weight: 700;
  height: 119px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1rem;
  letter-spacing: 0px;
  width: 722px;
  margin: 45px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-audio-1 {
    width: 787px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 119px;
  }

  .u-section-6 .u-audio-1 {
    width: 636px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-audio-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-audio-1 {
    width: 320px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 226px;
}

.u-section-7 .u-icon-1 {
  width: 215px;
  height: 77px;
  margin: 54px auto 0 401px;
  padding: 0;
}

.u-section-7 .u-icon-2 {
  width: 79px;
  height: 119px;
  margin: -97px auto 34px 661px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-icon-1 {
    margin-left: 290px;
  }

  .u-section-7 .u-icon-2 {
    margin-left: 571px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-icon-1 {
    margin-left: 202px;
  }

  .u-section-7 .u-icon-2 {
    margin-right: 164px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-icon-1 {
    margin-left: 150px;
  }

  .u-section-7 .u-icon-2 {
    margin-top: 20px;
    margin-left: 312px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 115px;
  }

  .u-section-7 .u-icon-1 {
    width: 122px;
    height: 44px;
    margin-top: 25px;
    margin-right: 154px;
    margin-left: 64px;
  }

  .u-section-7 .u-icon-2 {
    width: 45px;
    height: 67px;
    margin-top: -55px;
    margin-right: 103px;
    margin-left: 220px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 614px;
}

.u-section-8 .u-slider-1 {
  width: 758px;
  min-height: 478px;
  height: auto;
  margin: 8px auto 0;
}

.u-section-8 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-8 .u-image-1 {
  background-image: url("images/PhotoSlidebarMusic12.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 0;
}

.u-section-8 .u-image-2 {
  background-image: url("images/PhotoSlidebarMusic22.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px 50px;
}

.u-section-8 .u-image-3 {
  background-image: url("images/PhotoSlidebarMusic32.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 50px;
}

.u-section-8 .u-image-4 {
  background-image: url("images/PhotoSlidebarMusic42.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-4 {
  padding: 30px 50px;
}

.u-section-8 .u-image-5 {
  background-image: url("images/PhotoSlidebarMusic52.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px 50px;
}

.u-section-8 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: -58px;
  position: absolute;
  right: auto;
}

.u-section-8 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  background-image: none;
  left: auto;
  position: absolute;
  right: -58px;
}

.u-section-8 .u-image-6 {
  height: 554px;
  margin-top: -486px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-image-6 {
    height: 506px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-slider-1 {
    width: 720px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-image-6 {
    height: 478px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 538px;
  }

  .u-section-8 .u-slider-1 {
    margin-top: 1px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-6 {
    height: 468px;
    margin-top: -468px;
    margin-bottom: 59px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-8 .u-slider-1 {
    min-height: 208px;
    width: 341px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-8 .u-image-6 {
    height: 231px;
    margin-top: -216px;
    margin-bottom: 60px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 871px;
}

.u-section-9 .u-layout-wrap-1 {
  width: 696px;
  margin: 1px auto;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 870px;
}

.u-section-9 .u-container-layout-1 {
  padding: 28px 0;
}

.u-section-9 .u-text-1 {
  background-image: none;
  font-weight: 700;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 1.875rem;
  width: 417px;
  margin: 53px auto 0;
}

.u-section-9 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 700;
  font-style: normal;
  margin: 62px 0 0;
}

.u-section-9 .u-btn-1 {
  font-size: 0.875rem;
  animation-timing-function: ease-in-out;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  background-image: none;
  border-radius: 24px;
  font-weight: 700;
  --animation-custom_in-rotate: 21deg;
  --animation-custom_in-scale: 0.3;
  margin: 86px auto 0;
  padding: 9px 30px 10px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 628px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
  }

  .u-section-9 .u-text-1 {
    width: 418px;
  }

  .u-section-9 .u-text-2 {
    width: auto;
    margin-top: 77px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 96px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 790px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .u-section-9 .u-text-1 {
    width: 442px;
    margin-top: 40px;
  }

  .u-section-9 .u-text-2 {
    margin-top: 53px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 81px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 19px;
    margin-bottom: 19px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 832px;
  }

  .u-section-9 .u-container-layout-1 {
    padding-top: 0;
    padding-left: 4px;
    padding-right: 4px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    margin-top: 53px;
    margin-left: 45px;
    margin-right: 45px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 91px;
    margin-right: 195px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 931px;
  }

  .u-section-9 .u-layout-wrap-1 {
    width: 314px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 859px;
  }

  .u-section-9 .u-container-layout-1 {
    padding: 7px 0;
  }

  .u-section-9 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-9 .u-text-2 {
    font-size: 1rem;
    margin-top: 42px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-9 .u-btn-1 {
    margin-top: 64px;
    margin-right: auto;
    padding-right: 25px;
    padding-bottom: 9px;
    padding-left: 24px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 1201px;
}

.u-section-10 .u-group-1 {
  background-image: none;
  box-shadow: 0px 0px 20px 0 rgba(0,0,0,0.4);
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-shape-1 {
  height: 43px;
  margin-top: 47px;
  margin-bottom: 0;
  background-image: none;
}

.u-section-10 .u-text-1 {
  width: auto;
  font-weight: 700;
  text-decoration: none solid rgb(17, 17, 17);
  text-transform: none;
  margin: 39px auto 0;
}

.u-section-10 .u-btn-1 {
  font-size: 0.875rem;
  animation-timing-function: ease-in-out;
  letter-spacing: 1px;
  border-style: none;
  text-transform: uppercase;
  border-radius: 24px;
  font-weight: 700;
  --animation-custom_in-rotate: 21deg;
  --animation-custom_in-scale: 0.3;
  padding: 9px 30px 10px;
}

.u-section-10 .u-shape-2 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-10 .u-shape-3 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.u-section-10 .u-shape-4 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
}

.u-section-10 .u-text-2 {
  width: 175px;
  font-weight: normal;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
  font-size: 1.125rem;
  margin: -373px auto 0;
}

.u-section-10 .u-image-1 {
  width: 79px;
  height: 79px;
  margin: 30px auto 0;
}

.u-section-10 .u-text-3 {
  text-transform: uppercase;
  text-decoration: none solid rgb(255, 0, 0);
  font-weight: 700;
  width: 215px;
  margin: -340px auto 0;
}

@media (max-width: 991px) {
  .u-section-10 .u-group-1 {
    width: 306px;
    margin: 142px auto 0 54px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-shape-1 {
    height: 37px;
    width: 100%;
    margin-top: 51px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-1 {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-10 .u-shape-2 {
    margin: -410px 10px 0;
  }

  .u-section-10 .u-shape-3 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-10 .u-shape-4 {
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 728px;
  }

  .u-section-10 .u-group-1 {
    min-height: 600px;
    width: 291px;
    margin-top: 60px;
    margin-left: auto;
    margin-bottom: 60px;
  }

  .u-section-10 .u-container-layout-1 {
    padding: 13px 0;
  }

  .u-section-10 .u-shape-1 {
    height: 26px;
    width: 210px;
    margin-top: 26px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-text-1 {
    text-transform: uppercase;
    text-decoration: none solid rgb(255, 0, 0);
    width: 215px;
    margin-top: -26px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-10 .u-btn-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 0px;
    padding-right: 31px;
    margin: 428px auto 0;
  }

  .u-section-10 .u-shape-2 {
    margin-top: -20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-shape-3 {
    margin-top: 30px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-shape-4 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-10 .u-text-2 {
    font-weight: 700;
    font-size: 1rem;
    margin-top: -399px;
  }

  .u-section-10 .u-image-1 {
    margin-top: 63px;
  }

  .u-section-10 .u-text-3 {
    margin-top: -378px;
    margin-bottom: 210px;
  }
} .u-section-11 {
  background-image: none;
  min-height: 842px;
}

.u-section-11 .u-group-1 {
  width: 570px;
  min-height: 627px;
  height: auto;
  margin: 65px auto 0;
}

.u-section-11 .u-container-layout-1 {
  padding: 0;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 2.25rem;
  width: 441px;
  margin: 25px auto 0;
}

.u-section-11 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-weight: 700;
  font-size: 1.5rem;
  width: 261px;
  margin: 44px auto 0;
}

.u-section-11 .u-text-3 {
  font-size: 1.125rem;
  font-style: italic;
  font-weight: 700;
  width: 228px;
  margin: 30px auto 0;
}

.u-section-11 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  padding: 0;
}

.u-section-11 .u-btn-2 {
  font-size: 0.875rem;
  animation-timing-function: ease-in-out;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 24px;
  margin: 56px auto 0;
  padding: 9px 43px 10px 42px;
}

.u-section-11 .u-icon-1 {
  width: 47px;
  height: 47px;
  margin: 44px auto 59px;
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-11 {
    min-height: 825px;
  }

  .u-section-11 .u-group-1 {
    width: 368px;
    min-height: 585px;
    margin-top: 98px;
    height: auto;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-right: -32px;
    margin-left: -41px;
  }

  .u-section-11 .u-text-2 {
    width: 229px;
    margin-top: 49px;
  }

  .u-section-11 .u-text-3 {
    width: auto;
    margin-top: 79px;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-11 .u-btn-2 {
    margin-top: 65px;
  }

  .u-section-11 .u-icon-1 {
    margin-bottom: 47px;
  }
}

@media (max-width: 991px) {
   .u-section-11 {
    min-height: 850px;
  }

  .u-section-11 .u-group-1 {
    width: 671px;
    min-height: 651px;
    margin-top: 37px;
  }

  .u-section-11 .u-text-1 {
    width: 441px;
    position: relative;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-11 .u-text-2 {
    margin-top: 58px;
  }

  .u-section-11 .u-text-3 {
    font-size: 1.25rem;
    width: 311px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-11 .u-btn-2 {
    margin-top: 96px;
  }

  .u-section-11 .u-icon-1 {
    margin-top: 45px;
    margin-bottom: 60px;
  }
}

@media (max-width: 767px) {
   .u-section-11 {
    min-height: 840px;
  }

  .u-section-11 .u-group-1 {
    width: 540px;
    min-height: 647px;
  }

  .u-section-11 .u-text-1 {
    width: auto;
    margin-top: 68px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-11 .u-text-2 {
    margin-top: 33px;
  }

  .u-section-11 .u-text-3 {
    margin-top: 69px;
  }

  .u-section-11 .u-btn-2 {
    margin-top: 33px;
  }

  .u-section-11 .u-icon-1 {
    margin-top: 30px;
    margin-bottom: 58px;
  }
}

@media (max-width: 575px) {
   .u-section-11 {
    min-height: 760px;
  }

  .u-section-11 .u-group-1 {
    width: 340px;
    min-height: 634px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-top: 2px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 15px;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-11 .u-text-2 {
    width: 261px;
    font-size: 1.25rem;
    margin-top: 37px;
  }

  .u-section-11 .u-text-3 {
    font-size: 1rem;
    width: 228px;
    margin-top: 50px;
  }

  .u-section-11 .u-btn-2 {
    margin-top: 55px;
    padding-right: 30px;
    padding-bottom: 9px;
    padding-left: 29px;
  }

  .u-section-11 .u-icon-1 {
    margin-top: -16px;
  }
} .u-section-12 {
  background-image: url("images/bergeoptimize.jpg");
  background-position: 50% 50%;
}

.u-section-12 .u-sheet-1 {
  min-height: 225px;
}

.u-section-12 .u-text-1 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 157px auto 0;
}

.u-section-12 .u-text-2 {
  font-size: 0.75rem;
  font-weight: 700;
  margin: 0 auto 30px;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 186px;
  }

  .u-section-12 .u-text-1 {
    width: auto;
    margin-top: 118px;
    margin-left: 376px;
  }

  .u-section-12 .u-text-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 144px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 76px;
    margin-left: 288px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-12 .u-text-1 {
    margin-top: -499px;
    margin-left: 270px;
    margin-right: 270px;
  }

  .u-section-12 .u-text-2 {
    margin-left: 270px;
    margin-right: 270px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 188px;
  }

  .u-section-12 .u-text-1 {
    margin-top: 121px;
    margin-right: 77px;
    margin-left: 75px;
  }

  .u-section-12 .u-text-2 {
    width: 235px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}